streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
transformers
torch
torchvision
faiss-cpu
pypdf
openpyxl
pandas
python-dotenv
streamlit-mic-recorder
SpeechRecognition
pydub
