streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
torch
torchvision
pandas
pypdf
openpyxl
streamlit-mic-recorder
groq
pydub
